  <div class="footer-top" id="footer">
      <div class="container" id="footer-cont">
      <div class="row">
        
          <div _ngcontent-c2="" class="col">
              <h3 _ngcontent-c2="">Address</h3>
            
                <div _ngcontent-c2="" class="contact-btm" id="address" style="margin-left: 0;color:white;"><p>Street No 5 Mahaveer Nagar&nbsp;</p><p>Tonk Road Jaipur Rajasthan&nbsp;</p><p>Pin 302018</p></div>
                
                <div _ngcontent-c2="" class="clearfix"></div>
    
          </div>
          <div _ngcontent-c2="" class="col">
              <h3 _ngcontent-c2="">Quick links</h3>
                  <p _ngcontent-c2=""><a _ngcontent-c2="" routerLink="/quicklink/terms">Terms of service</a></p>
                  <p _ngcontent-c2=""><a _ngcontent-c2="" routerLink="/quicklink/privacy-policy">Privacy policy</a></p>
                  <p _ngcontent-c2=""><a _ngcontent-c2="" routerLink="/quicklink/refund-policy">Refund policy</a></p>
                  <p _ngcontent-c2=""><a _ngcontent-c2="" routerLink="/quicklink/pricing-policy">Pricing policy</a></p>
              </div>
        <div class="col">
          <h3>Social links</h3>
          <div class="contact-btm">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <p>+91{{contact?.phone}}</p>
            <div class="contact-btm">
            </div>
              <i style="color:white;" class="fa fa-envelope-o" aria-hidden="true"></i>
              <p><a href="mailto:{{contact?.email}}">{{contact?.email}}</a></p>
            </div>
          <div class="w3ls-social-icons">
              <a target="_blank" style="margin-right:5px;" class="facebook" href=" https://www.facebook.com/yuv.py"><i class="fab fa-facebook-f"></i></a>
              <a target="_blank" class="twitter" href="https://twitter.com/Yuvajan1"><i class="fab fa-twitter" aria-hidden="true"></i></a>
          </div>
        </div>
          <div class="clearfix"></div>
      </div>
  
      </div>
    </div>

    <div class="copy-right">
				<p> Copyright &copy; 2018 BankersPoint | Powered by <a href="https://gadgetsfury.com">GadgetsFury</a></p>
		</div>