<div style="padding:50px" class="container">
    <div class="row">
        <div class="col-md-4">
                <div class="device-wrapper">
                        <div class="device" data-device="Pixel" data-orientation="portrait" data-color="black">
                          <div class="screen">
                            <img src="https://firebasestorage.googleapis.com/v0/b/bankers-point-a82f2.appspot.com/o/Screenshot_20180203-212629%5B1%5D.png?alt=media&token=06966208-b559-4257-9d4e-7b2314d8da9f" class="img-fluid">
                          </div>
                        </div>
                </div>
        </div>
        <div style="padding:20px;" class="col-md-8">
          <div class="col-md-9 offset-md-3">
              <div class="container-fluid" >
                  <h1 style=" font-weight:lighter;" class="text-muted" >Learn on the Go</h1>
                  <p  class="text-muted">Now, watch videos and practice anywhere</p>
              </div>
              <div class="container-fluid">
                <p>Be it your desktop, your laptop or even your mobile, we provide you with the liberty to study anywhere. Download our Android app from playstore to enjoy our services on the go.</p>
              </div>
              <div  class="col-md-6" style="padding-left:0;">
                    <a  href="https://play.google.com/store/apps/details?id=com.gmonetix.bankerspoint">
                        <img  class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/bankers-point-a82f2.appspot.com/o/google-play-badge.png?alt=media&amp;token=80fea845-7871-4a4e-b302-d40dc8aee760">
                    </a>
            </div>
            </div>
          </div>
    </div>
</div>