<div class="container-fluid">
	<div id="course-desc-cont" class="container">
      <h1 style="text-align:center;">{{course?.name}}</h1>
      <br>
		<div class="row">
			<div class="col-lg-5">
        <img src="{{course?.image}}" class="img-fluid" style="margin-bottom:20px;">
        <p>
            <span *ngFor="let i of rating" style="font-size:25px;" class="fa fa-star checked"></span>
            <span *ngFor="let i of rating_void" style="font-size:25px;" class="fa fa-star"></span> 
            <span class="text-muted">{{ratingExact | number:'1.1-1'}}</span>
        </p>
			</div>
			<div class="col-lg-7">
        <ng-container *ngIf="!isSubscribed" >
          <h5>Validities Available: </h5>
				    <hr>
            <!-- <div class="form-group" *ngFor="let val of course?.validities">
              <input (ngModelChange)="price=val.price" style="margin-right:5px;" type="radio" value="{{val.validity}}" [(ngModel)]="validityChoice">
              <label> {{val.validity}} days | &#8377;{{val.price | number:'0.2-2'}}</label>
            </div> -->
            <!-- <div class="list-group">
              <button *ngFor="let val of course?.validities; index as i" type="button" class="list-group-item list-group-item-action">{{val.validity}} days | &#8377;{{val.price | number:'0.2-2'}}</button>
            </div> -->
            <ul class="list-group">
              <li *ngFor="let val of course?.validities; index as i" class="list-group-item justify-content-between">{{val.validity}} days | &#8377;{{val.price | number:'0.0-0'}}
                <button (click)="pay(i)" class="btn btn-success">Buy Now</button>
              </li>
            </ul>
            <hr>
        </ng-container>
        <div *ngIf="isSubscribed&&days<=validity" class="progress">
          <div class="progress-bar bg-warning" role="progressbar" id="validity-progress" [ngStyle]="{'width':progressWidth}" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">{{days | number:'1.0-0'}}/{{validity}} days</div>
        </div>
        <div *ngIf="isSubscribed&&days>validity" class="alert alert-danger" role="alert">
          Sorry, your validity has expired.
        </div>
				<!-- <div *ngIf="!isSubscribed&&!isFree||isSubscribed&&days>validity; else free" class="row">
					<div class="col-lg-5"><h3 style="float:left" class="text-success">₹ {{course?.price_offer}}</h3><h3 class="text-success" style="text-decoration:line-through; float:right;" >₹ {{course?.price_actual}}</h3></div>
        </div> -->
        <ng-template #free>
          <div *ngIf="isFree" class="row">
            <div class="col-lg-5">
              <h3 style="float:left;" class="text-success" >FREE COURSE</h3>
            </div>
          </div>
        </ng-template>
				<div class="row">
					<!-- <div *ngIf="!isSubscribed && !isFree && validityChoice" style="padding:10px;" class="col-lg-3">
            <button (click)="pay()" style="cursor:pointer;" class="btn btn-success btn-block">Buy now</button>
          </div> -->
					<div *ngIf="isFree||isSubscribed&&days<=course.validity" style="padding:10px;" class="col-lg-3">
						<a [routerLink]="['/classroom',id]" class="btn btn-warning btn-block">Start learning</a>
          </div>
          <div *ngIf="isSubscribed&&days>course.validity" style="padding:10px" class="col-lg-3">
            <button (click)="pay()" class="btn btn-success btn-block">Renew</button>
          </div>
          <div *ngIf="!isSubscribed && !isFree" style="padding:10px;" class="col-lg-3">
              <a [routerLink]="['/classroom',id]" class="btn btn-secondary btn-block">Free preview</a>
          </div>
					<div *ngIf="!isSubscribed&&!isFree||isSubscribed&&days>course.validity" style="padding:10px;" class="col-lg-6">
						<div class="input-group">
							<input type="text" class="form-control" [(ngModel)]="couponCode" name="coupon-code" placeholder="Coupon code">
							<span class="input-group-btn">
							  <button [ngClass]="couponApplied ? 'btn btn-secondary disabled' : 'btn btn-secondary'" (click)="applyCode()" type="button">Apply</button>
							</span>
            </div>
            <div *ngIf="couponApplied" style="margin-top:10px;" id="coupon-success" class="alert alert-success" role="alert">
              Your coupon code was successfully applied. You can cancel your coupon from <strong (click)="cancelCoupon()" id="cancel-coupon" >here</strong>.
            </div>
            <div style="margin-top:10px;display:none;" id="coupon-invalid" class="alert alert-danger" role="alert">
              Invalid coupon code
            </div>
					</div>
				</div>
			</div>
    </div>
    <div style="margin-top:10px;" class="row">
      <div class="col-12">
        <p class="text-muted">{{course?.description}}</p>
      </div>
    </div>
  </div>
  <ng-template #validityDialog>
    <h3>Choose Validity: </h3>
    <hr>
    <div class="form-group" *ngFor="let val of course?.validities">
      <input style="margin-right:5px;" type="radio" value="{{val.validity}}" [(ngModel)]="validityChoice">
      <label> {{val.validity}} days | &#8377;{{val.price | number:'0.2-2'}}</label>
    </div>
    <button class="btn btn-success btn-block" (click)="pay()" >Buy Now</button>
  </ng-template>
</div>

<div class="container-fluid tab">
	<div class="container">
		<ul class="nav nav-tabs">
      <li class="nav-item">
        <a [routerLink]="['overview']" routerLinkActive #rloverview="routerLinkActive" [ngClass]="rloverview.isActive? 'nav-link active' : 'nav-link' " >Overview</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['curriculum']" routerLinkActive #rlcurriculum="routerLinkActive" [ngClass]="rlcurriculum.isActive? 'nav-link active' : 'nav-link' ">Curriculum</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['reviews']" routerLinkActive #rlreviews="routerLinkActive" [ngClass]="rlreviews.isActive? 'nav-link active' : 'nav-link' " >Reviews</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['demo-lectures']" class="nav-link" [routerLinkActive]="['active']" >Demo Lectures</a>
      </li>
    </ul>
	</div>
</div>

<div id="details" class="container-fluid">
  <div id="details-cont" class="container">
    <router-outlet >
        
    </router-outlet>
  </div>
</div>