<div id="category-title" class="container-fluid">
  <div id="category-title-cont" class="container">
    <h1>Demo Lectures</h1>
  </div>
</div>
<div style="margin-top:25px; margin-bottom:25px;" class="container">
  <div class="row">
    <div *ngFor="let lecture of lectures" class="col-md-4 col-sm-6 col-lg-3 col-6">
      <a [routerLink]="['/classroom/'+lecture.course_id+'/lecture/'+lecture.section_id+'/'+lecture.lecture_id]" >              
        <div class='card course-card'>                
          <img class='card-img-top' [src]="lecture.image" width='100%' height='150px' alt='{{lecture.title}}'>                
          <div class='card-block'>                  
            <h4 class='card-title'>{{lecture.title}}</h4>                                       
          </div> 
          <!-- <div *ngIf="url!='my-courses'" class='card-footer' style='padding-right:0;' >  
            <span style=' float:right; background-color:#11a15d; color:white; padding-left:15px;padding-right:10px; ' class=' item'><span style='font-size:20px;' >₹</span>
            <strong style='font-size:18px;' >{{course?.price_offer}}</strong> </span> 
            <span class='text-success' style='text-decoration:line-through; padding-right:10px; float:right;' >
              <span style='font-size:20px;' >₹</span>
              <span style='font-size:18px;' >{{course?.price_actual}}</span>
            </span> 
          </div>             -->
        </div>            
      </a>
    </div>
  </div>
</div>