#course-desc-cont{
    padding-top: 50px;
    padding-bottom: 50px;
}
.centered
{
    vertical-align: middle;
    display: inline-block;
}

.centerer
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.tab{
    border-bottom: 1px solid #d6d9db;
}
#details{
    background-color:#edf0f4;
    padding-bottom: 20px; 
    padding-top: 20px;
}
#details-cont{
    border: 1px solid #d6d9db;
    background-color: white;
}
#cancel-coupon{
    cursor: pointer;
}
#cancel-coupon:hover{
    text-decoration: underline;
}